* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.App {
  width: 50%;
  margin: 40px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
}

.atribute {
  margin-top: 80px;
}

.check {
  margin-left: 10px;
}

form {
  margin-top: 40px;
}

.form-group {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-top: 20px;
}

input[type="submit"] {
  margin-top: 20px;
  width: 60px;
  padding: 3px;
  border-color: black;
  border-style: outset;
  border-radius: 20px;
}

